body
{
	background-color: #445566;
}

main 
{
	margin: auto;
	font-family: sans-serif;
	width: 600px;
}

header
{
	display: inline-block;
	margin-left: 50px;
	margin-right: 0px;
	width: 500px;
	margin-bottom: 10px;
}

header #title-container
{
	float: left;
	/*position: absolute;
	border: 1px solid red;*/
}

header h1
{
	
	
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 80px;
	font-weight: bold;
	text-align: left;
}

header p
{
	display: inline-block;
	margin-top: 0px;
	margin-right: 0px;
}

header #button-container
{
	float: right;
	margin-left: 15px;
	margin-top: 25px;
}

header button
{
	float: right;
	clear: right;
	margin: 5px;
	height: 30px;
	background-color: grey;
	border: none;
	outline: none;
	border-radius: 3px;
}

div#game-container
{
	outline: none;
}

div#grid
{
	position: relative;
	height: 500px;
	width: 500px;
	background-color: black;
	border-radius: 5px;
	margin: auto;
	clear: both;
}

div.cell
{
	border-radius: 5px;
	background-color: grey;
	width: 106.25px;
	height: 106.25px;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
}

div.tile
{
	position: relative;
	border-radius: 5px;
	width: 106.25px;
	height: 106.25px;
	display: inline-block;
	vertical-align: middle;
	line-height: 106.25px;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
}

section#automated-tools
{
	margin: auto;
	margin-top: 65px;
}

section#automated-tools h2
{
	text-align: center;
}

section#automated-tools textarea
{
	height: 700px;
	width: 600px;
	outline: none;
	resize: none;
	 	
}

section#automated-tools button
{
	float: right;
	margin: 0px;
}