div#game-container				/*This stuff should probably be on the grid rather than the game container*/
{
	height: 272px; /*500px;*/					
	width: 270px;/*500px;*/
	background-color: black;
	border-radius: 5px;
	margin-left: 250px;
}

div.grid-cell
{
	border-radius: 5px;
	background-color: grey;
	width: 50px;/*106.25px;*/
	height: 50px;/*106.25px;*/
	margin-left: 15px;
	margin-top: 15px;
	float: left;
}

div.tile
{
	position: absolute;
	font-size: 50px; /*100px;*/
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	width: 50px;/*106.25px;*/
	height: 50px;/*106.25px;*/
	background-color: #00bb00;
}