body
{
	background-color: hsla(15,100%,95%,1);
	color: #230000;
}

main 
{
	margin: auto;
	font-family: sans-serif;
	width: 600px;
}

header
{
	display: inline-block;
	margin-left: 50px;
	margin-right: 0px;
	width: 500px;
	margin-bottom: 10px;
}

header #title-container
{
	float: left;
}

header h1
{
	color: hsla(15,75%, 65%,1);
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 80px;
	font-weight: bold;
	text-align: left;
}

header p
{
	display: inline-block;
	max-width: 250px;
	margin-top: 0px;
	margin-right: 0px;
}

header #button-container
{
	float: right;
	margin-left: 15px;
	margin-top: 25px;
}

header button
{
	float: right;
	clear: right;
}

button
{
	margin: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	background-color: hsla(0, 40%, 60%, 1);
	border: none;
	outline: none;
	border-radius: 3px;
}

div#game-container
{
	outline: none;
	margin: auto;
	height: 500px;
	width: 500px;
}

div#grid
{
	position: relative;
	height: 500px;
	width: 500px;
	background-color: #230000;
	border-radius: 5px;
	margin: auto;
	clear: both;
}

div.cell
{
	border-radius: 5px;
	background-color: hsla(0, 40%, 90%, 0.5);
	width: 106.25px;
	height: 106.25px;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
}

div.tile
{
	position: relative;
	border-radius: 5px;
	width: 106.25px;
	height: 106.25px;
	display: inline-block;
	vertical-align: middle;
	line-height: 106.25px;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
}

section#automated-tools
{
	margin: auto;
	margin-top: 65px;
}

section#automated-tools h2
{
	text-align: center;
}

section#automated-tools #editor
{
	height: 350px;
	width: 600px;
	outline: none;
}

section#automated-tools button
{
	float: right;
	margin-right: 0px;
	margin-top: 15px;
}

div#game-over
{	
	opacity: 0;
	z-index: 100;
	visibility: hidden;
	height: 500px;
	width: 500px;
	border-radius: 5px;
	position: absolute;
	margin: 0px;
	background-color: hsla(0, 40%, 90%, 0.75);
}

div#game-over div
{
	font-size: 54px;
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	width: 100%;
	height: 30%;
	margin: 0px;
	margin-top: 130px;
	position: absolute;
}

div#game-over div button
{
	display: block;
	margin: auto;
	margin-top: 20px;
}

div#win-screen
{	
	opacity: 0;
	z-index: 100;
	visibility: hidden;
	height: 500px;
	width: 500px;
	border-radius: 5px;
	position: absolute;
	margin: 0px;
	background-color: hsla(0, 40%, 90%, 0.75);
}

div#win-screen div
{
	font-size: 54px;
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	width: 100%;
	height: 30%;
	margin: 0px;
	margin-top: 130px;
	position: absolute;
}

div#win-screen div button
{
	display: block;
	margin: auto;
	margin-top: 20px;
}

footer
{
	height: 100px;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 50px;
}

footer hr
{
	border: none;
	border-bottom: 1px solid #230000;
	margin: auto;
	margin-bottom: 30px;
	width: 75%;
}

footer a
{
	color:#230000;
}